<div class="article">
<button><%= link_to 'New article', new_article_path %></button>
</div>

<% @articles.each do |article| %>
  <%= div_for article, :class => "entry" do %>
    <h2><%= article.title %></h2>
      <code>
        <p><%= article.text %></p>
      
        <p>
        <button><%= link_to 'Show', article_path(article) %></button>
        <button><%= link_to 'Edit', edit_article_path(article) %></button>
        <button><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></button></p>
      </code>
  <% end %>
<% end %> 
