<%= form_for @user do |f| %>
  <p>
    <%= f.label :Choose_Username %><br>
    <%= f.text_field :username %>
  </p>
 
  <p>
    <%= f.label :Choose_Password %><br>
    <%= f.password_field :password %>
  </p>
 
  <p>
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>